<p style="color: green"><%= notice %></p>

<h1>Publicaciones</h1>

<div id="news">
  <% @news.each do |news| %>
    <%= render news %>
    <p>
      <%= link_to "Mostrar esta publicación", news %>
    </p>
  <% end %>
</div>

<%= link_to "Nueva publicacion", new_news_path %>
